<!DOCTYPE html>
<html>
<head>
<title>Oog Photo-Gallery</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<?php echo $important_includes; ?>
</head>
<body>

<div id="main">

<?php echo $browser_tip; ?>

<div id="header"><?php echo $language_switcher; ?></div>

<div id="menu"><?php echo $menu; ?>
<?php echo $search_form; ?>
<?php echo $user_login; ?>
</div>

<div id="content">
<div id="album_info_box">
<h4 style="float: left;"><?php echo $title; ?></h4>
<h4 style="float: right;"><?php echo $views; ?></h4>
<div style="clear:both;"></div>
</div>
<?php echo $main_content; ?><br /><br />
<a href="http://www.oog-gallery.de/">Oog Photo-Gallery v3.2 Beta8</a><br /><br />
</div>

</div>

</body>
</html>




